:root {
    --primary-color: #ff0000;
    --secondary-color: #ffffff;
    --background-color: #000000;
    --text-color: #ffffff;
    --overlay-color: rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    background-color: var(--background-color);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 40px;
    display: block;
    margin: 0 auto;
}

nav {
    display: none;
    margin-top: 1rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.3s ease;
    display: block;
    padding: 0.5rem;
    text-align: center;
}

nav ul li a:hover {
    color: var(--primary-color);
}

#menu-toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: scale(1.1);
    z-index: -1;
}

section.visible::before {
    opacity: 0.3;
    transform: scale(1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

p {
    margin-bottom: 1rem;
}

footer {
    background-color: var(--background-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social-media a {
    margin: 0 10px;
    color: var(--secondary-color);
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: var(--primary-color);
}

main {
    display: block;
    padding-top: 60px; /* Adjust based on your header height */
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

section > * {
    opacity: 1;
    transform: none;
}

section.visible > * {
    animation: slideUp 0.5s forwards;
}

section.visible > *:nth-child(2) {
    animation-delay: 0.1s;
}

section.visible > *:nth-child(3) {
    animation-delay: 0.2s;
}

#home::before {
    background-image: url('../images/home-bg.png');
}

#intro::before,
#services::before,
#projects::before,
#about::before {
    background-color: #ffffff; /* Set a white background */
    background-image: none; /* Remove existing background image */
    opacity:100;
}

#intro, #services, #projects, #about {
    color: #000000; /* Set text color to black */
}      

@media screen and (max-width: 767px) {
    nav {
        display: none;
        animation: slideDown 0.3s ease forwards; /* Add animation */
    }

    @keyframes slideDown {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}        

/* Media query for larger screens */
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0;
        height: 50px;
    }

    nav {
        display: block;
        margin-top: 0;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        margin-left: 2rem;
        margin-bottom: 0;
    }

    #menu-toggle {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .services-grid {
        flex-direction: row;
        justify-content: space-between;
        max-width: 900px;
        margin: 0 auto;
    }

    .services-column {
        width: 45%;
    }

    .services-divider {
        display: block;
        width: 1px;
        background-color: var(--primary-color);
        margin: 0 20px;
    }
}