:root {
    --primary-color: #ff0000;
    --secondary-color: #ffffff;
    --background-color: #000000;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background-color);
    padding-top: 70px; /* Adjust padding-top to account for header height */
}

header {
    background-color: #000; /* Set header background color to black */
    padding: 1rem 2rem; /* Add padding to the header */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure it's on top of other content */
    transition: background-color 0.5s ease-in-out;
}

header.scrolled {
    background-color: #000; /* Black background when scrolled */
}

.logo {
    height: 40px;
    display: block;
    margin: 0 auto;
}

nav {
    margin-top: 1rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: transparent;
    visibility: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

nav.open {
    max-height: 500px; /* Adjust this value based on your menu's height */
    opacity: 1;
    background-color: #000;
    visibility: visible;
}

nav.closing {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.5s ease-in-out;
    display: block;
    padding: 0.5rem;
    text-align: center;
}

nav ul li a:hover {
    color: var(--primary-color);
}

#menu-toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
}

section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: var(--background-color); /* Ensure background color is set */
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
    will-change: opacity, transform;
    opacity: 0;
    transform: translateY(20px);
    padding-top: 80px; /* Adjust this value based on your header height */
    margin-top: -80px; /* This offsets the padding to keep the visual layout intact */
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(1.1);
    z-index: -1;
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
    will-change: opacity, transform;
}

section.visible::before {
    opacity: 0.5;
    transform: scale(1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: font-size 0.5s ease-in-out;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    transition: font-size 0.5s ease-in-out;
}

p {
    margin-bottom: 1rem;
}

footer {
    background-color: var(--background-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social-media a {
    margin: 0 10px;
    color: var(--secondary-color);
    font-size: 24px;
    transition: color 0.5s ease-in-out;
}

.social-media a:hover {
    color: var(--primary-color);
}

main {
    display: block;
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

section > * {
    opacity: 1;
    transform: none;
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
    will-change: opacity, transform;
}

section.visible > * {
    animation: slideUp 0.7s ease-in-out forwards;
}

section.visible > *:nth-child(2) {
    animation-delay: 0.2s;
}

section.visible > *:nth-child(3) {
    animation-delay: 0.4s;
}

@media screen and (max-width: 768px) {
    #menu-toggle {
        display: block; /* Make sure the toggle is visible on mobile */
    }
    
    section {
        padding-top: 60px; /* Adjust based on your mobile header height */
        margin-top: -60px; /* Offset padding to keep the visual layout intact */
        scroll-margin-top: 60px; /* Adjust based on your mobile header height */
    }

    nav {
        margin-top: 1rem;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        background-color: transparent;
        visibility: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    nav.open {
        max-height: 500px; /* Adjust this value based on your menu's height */
        opacity: 1;
        background-color: #000;
        visibility: visible;
    }

    nav.closing {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@media screen and (min-width: 769px) {
    body {
        font-size: 18px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem; /* Add padding to header */
        background-color: #000; /* Ensure header background is black */
    }

    .logo {
        margin: 0;
        height: 50px;
    }

    nav {
        display: block;
        margin-top: 0;
        max-height: none; /* Reset max-height for desktop view */
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        transition: none; /* No transition needed in desktop view */
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        margin-left: 2rem;
        margin-bottom: 0;
    }

    #menu-toggle {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .services-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
    }

    .services-column {
        width: 45%;
    }

    .services-divider {
        display: block;
        width: 1px;
        background-color: var(--primary-color);
        margin: 0 20px;
    }
}